.wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
}

.title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.content {
  margin-top: 24px;
}

.item {
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }
}

.loading {
  font-size: 20px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 0;

  &:first-child {
    margin-top: 0;
  }
}
