.wrapper {
  border-top: 1px solid rgba(11, 21, 36, 0.14);
  padding-top: 32px;
  padding-bottom: 16px;
}

.main-section {
  display: flex;
  align-items: start;
}

.main-navigation {
  display: flex;
  align-items: start;
}

.main-navigation-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 64px;

  &:first-child {
    margin-left: 0;
  }
}

.main-navigation-item {
  margin-top: 8px;

  &:first-child {
    margin-top: 0;
  }
}

.main-navigation-link {
  display: block;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #0b1524;
  transition: color 0.2s;

  &:hover {
    color: #0762c8;
  }
}

.stores {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 90px;
}

.stores-item {
  margin-top: 8px;

  &:first-child {
    margin-top: 0;
  }
}

.stores-link {
  svg {
    display: block;
  }
}

.socials {
  display: flex;
  align-items: start;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 90px;
}

.socials-item {
  margin-left: 16px;

  &:first-child {
    margin-left: 0;
  }
}

.socials-link {
  color: #8f949a;
  transition: color 0.2s;

  &:hover {
    color: #0762c8;
  }

  svg {
    display: block;
  }
}

.additional-section {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.copyright {
  font-size: 12px;
  line-height: 16px;
  color: #8f949a;
}

.legal {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 12px;
}

.legal-item {
  margin-left: 12px;

  &:first-child {
    margin-left: 0;
  }
}

.legal-link {
  display: block;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: rgba(11, 21, 36, 0.66);
  transition: color 0.2s;

  &:hover {
    color: #0762c8;
  }
}
